/*--------------------------------------------------
Site wide CSS File.
What you include here will be available in all pages.
-------------------------------------------------- */


/* footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Page CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}

.jumbotron {

    opacity: 75%;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;

}
.text-footer{
    font-weight: bold;
    font-family: sana-serif;
    font-size:25px;
    color: black;
}

code {
  font-size: 80%;
}

main {
    margin-top:60px;
}

.center {
     text-align: center;
}


/* The sidebar menu */
.sidenav {
  width: 230px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
 /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  opacity: 50%;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 10px 6px 16px;
  text-decoration: none;
  font-family: sana-serif;
  font-size: 25px;
  color: #111;
  display: block;
  font-weight: bold;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #00FF00;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -40px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 5px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 5px; /* Increase font size */
  color: black; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  text-align: center;
  background: white;
  opacity:0.75;

  }

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}
/* Style page content */

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

