/*--------------------------------------------------
Site wide CSS File.
What you include here will be available in all pages.
-------------------------------------------------- */


/* footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Page CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}

.jumbotron {
    opacity: 75%;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;

}
.text-footer{
    font-weight: bold;
    font-family: sana-serif;
    font-size:25px;
    color: black;
}

code {
  font-size: 80%;
}

main {
    margin-top:60px;
}

.center {
     text-align: center;
}