/* CSS Unique for welcome page.*/
body{
    background: url(/img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
