<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="form">
    <input th:value="${shift.id}" type="hidden" name="id" >

    <div class="form-group">
        <label for="date">Date</label>
        <input th:value="${shift.date}" type="text" class="form-control" id="date"  name="date" aria-describedby="locationHelp" placeholder="Enter date" required>
        <small id="locationHelp" class="form-text text-muted">Please input the date of the shift.</small>
    </div>

    <div class="form-group">
        <label for="day">Day</label>
        <input th:value="${shift.day}" type="text" class="form-control" id="day"  name="day" aria-describedby="locationHelp" placeholder="Enter day" required>
        <small id="locationHelp" class="form-text text-muted">Please input the day of the shift.</small>
    </div>

    <div class="form-group">
        <label for="start_time">Start of the shift</label>
        <input th:value="${shift.start_time}" type="text" class="form-control" id="start_time"  name="start_time" aria-describedby="locationHelp" placeholder="Enter start time" required>
        <small id="locationHelp" class="form-text text-muted">Please input the start time of the shift.</small>
    </div>

    <div class="form-group">
        <label for="end_time">End of the shift</label>
        <input th:value="${shift.end_time}" type="text" class="form-control" id="end_time"  name="end_time" aria-describedby="locationHelp" placeholder="Enter end time" required>
        <small id="locationHelp" class="form-text text-muted">Please input the end time of the shift.</small>
    </div>

    <div class="form-group">
        <label for="staff"></label>
        <input th:value="${shift.staff}" type="text" class="form-control" id="staff"  name="staff" aria-describedby="locationHelp" placeholder="Enter staff name" required>
        <small id="locationHelp" class="form-text text-muted">Please input the name of the staff.</small>
    </div>

    <div class="form-group">
        <label for="position">Staff position</label>
        <input th:value="${shift.position}" type="text" class="form-control" id="position"  name="position" aria-describedby="locationHelp" placeholder="Enter staff position" required>
        <small id="locationHelp" class="form-text text-muted">Please input the position of the staff.</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</body>