<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Common head content is included from common.html  -->
    <th:block th:include="/views/fragments/common.html :: commonhead"></th:block>

    <!-- Include custom head for this head after this line -->
    <title>Shifts List</title>


    <!-- You can create a css with styles only for this page -->
    <!-- <link href="/css/yourpage.css" rel="stylesheet">-->
</head>

<body>

<!-- Nav bar is located in common.html -->
<header th:replace="/views/fragments/common.html :: header"></header>

<!-- Begin THIS page content -->
<main role="main" class="container ">
    <h1>Shift List Page
        <a class="btn btn-success" href="/shifts/new" role="button">Create a new shift</a></h1>


    <div class="card-columns">
                <div th:each="shift : ${shifts}" class="card">
                    <div class="card-body">
                        <h4 class="card-title">Date:<span th:text="${shift.title}">Card title></span></h4>
                        <h4 class="card-title">Day:<span th:text="${shift.staff_name}">Card title></span></h4>
                        <h4 class="card-title">Start_time:<span th:text="${shift.detail}">Card title></span></h4>
                        <h4 class="card-title">End_time:<span th:text="${shift.status}">Card title></span></h4>
                        <h4 class="card-title">Staff:<span th:text="${shift.created_time}">Card title></span></h4>
                        <h4 class="card-title">Position:<span th:text="${shift.finish_time}">Card title></span></h4>
                        <h4 class="card-title">Position:<span th:text="${shift.due_time}">Card title></span></h4>

                        <!--                <h4 class="card-title">Theater number:<span th:text="${s.theater_id}"></span></h4>-->

        <!--                <a th:href="@{/sessions/{id}(id=${s.id})}" class="btn btn-outline-info card-link">See More</a>-->
        <!--                <a class="btn btn-success" th:href="@{/sessions/remove/{id}(id=${s.id})}" role="button">remove</a>-->

                    </div>
                </div>
    </div>
</main>
<!-- End THIS page content -->


<!-- Footer is located in common.html -->
<footer class="footer" th:replace="/views/fragments/common.html :: footer"></footer>

<!-- Bootstrap Scripts  -->
<th:block th:include="/views/fragments/common.html :: scripts"></th:block>
</body>
</html>