<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Common head content is included from common.html  -->
  <th:block th:include="/views/fragments/common.html :: commonhead"></th:block>

  <!-- Include custom head for this head after this line -->
  <title>show shift</title>

  <!-- You can create a css with styles only for this page -->
  <!-- <link href="/css/yourpage.css" rel="stylesheet">-->
</head>

<body>

<!-- Nav bar is located in common.html -->
<header th:replace="/views/fragments/common_1.html :: header"></header>

<!-- Begin THIS page content -->
<main role="main" class="container ">
  <div id="shift">
    <h3>Shift details
      <a class="btn btn-success" th:href="@{/shifts/{id}/edit(id=${currentShift.id})}" role="button">Edit shift</a>
      <a class="btn btn-success" th:href="@{/shifts/{id}/remove}" role="button">Remove shift</a>
    </h3>

    <div class="card-body">
      <h4 class="card-title" th:text="${currentShift.title}">Shift title</h4>
      <br>
      <h4>Belongs to:</h4>
      <h4 class="card-title" th:text="${currentShift.staff_name}">Shift name</h4>
      <br>
      <h4>Detail:</h4>
      <br>
      <h5 class="card-title" th:text="${currentShift.detail}">detail</h5>
      <br>
      <h4>Status:</h4>
      <h4 class="card-title" th:text="${currentShift.status}">status</h4>
      <br>
      <h4>Created time:</h4>
      <h5 class="card-title" th:text="${currentShift.created_time}">created_time</h5>
      <br>
      <h4>Finish time:</h4>
      <h5 class="card-title" th:text="${currentShift.finish_time}">finish_time</h5>
      <br>
      <h5>Due time:</h5>
      <h4 class="card-title" th:text="${currentShift.due_time}">due_time</h4>
  </div>
</main>
<!-- End THIS page content -->


<!-- Footer is located in common.html -->
<footer class="footer" th:replace="/views/fragments/common.html :: footer"></footer>

<!-- Bootstrap Scripts  -->
<th:block th:include="/views/fragments/common.html :: scripts"></th:block>
</body>
</html>